.projectsDisplay-minWidth {
  min-width: 300px;
}

.projectsDisplay-margin1 {
  margin-bottom: 2%;
}

.projectsDisplay-margin2 {
  margin: auto 12%;
}

.projectDisplay-btnMargin1 {
  margin: auto auto 5% auto;
}