.sourceFilter-boxSize1 {
  width: 350px;
}

.sourceFilter-icons {
  width: 14%;
  height: 14%;
  padding: 4px;
}

.sourceFilter-icons-active {
  background-color: rgba(2, 180, 168, .3);
  border-radius: 4px;
}