.invSummary-size {
  width: 35%;
  height: 90%;
  min-width: 300px !important;
  min-height: 350px;
}

.invSummary-margin1 {
  margin: 2% auto;
}

.invSummary-marginNum {
  margin: auto 0 auto auto;
}

.centered {
  margin: 5% 37%;
}