.userProfile-margin1 {
  margin: 2% 20%;
}

.userProfile-marginTabs {
  margin-top: 4.5vh;
}

.userProfile-marginTabContent {
  margin-top: 5.7vh;
}

.userProfile-tabStyle {
  color: rgba(2, 180, 168, 1);
}