.footer-margin1 {
  margin-top: 5%;
}

.footer-Col {
  min-width: 50% !important;
}

.footer-margin2 {
  margin: 8% 48%;
}

.footer-padding1 {
  padding: 0 0 0.7rem !important;
}

.footer-title {
  color: rgba(0,0,0,.9);
}

