.footer-margin1 {
  margin-top: 8%;
}

.footer-margin2 {
  margin: auto 10%;
}

.footer-padding1 {
  padding: 0 0 0.7rem !important;
}

.footer-title {
  color: rgba(0,0,0,.9);
  margin-top: 1rem;
}

