.headerCenterContainer {
  border: 3px solid rgba(145, 234, 224, 1);
  border-radius: 10px;
  width: 60%;
  box-sizing: content-box;
  margin-top: 15% !important;
  margin-bottom: 8% !important;
  background-color: rgba(145, 234, 224, 0.25);
  filter: blur(0.5px);
}

.center {
  margin: 0 auto;
}

.mainIcons {
  width: 15%;
  margin: 2% 5%;
}